.gameContainer{
    background-color: black;
    width: 1366px;
    height: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.gameBg{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, var(--Radial-Gradient) 0%, var(--Radial-Gradient2) 100%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.scoreTableContainer{
    width: 50rem;
    height: 10rem;
    outline: 0.15rem solid var(--Header-Outline);
    margin-top: 4rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    

}
.scoreTable{
    width: calc(100% - 4rem);
    height:  calc(100% - 4rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    
}
.score{
    width: 15rem;
    height: 8rem;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.scoreRow>p{
    margin: 0;
    letter-spacing: 3px;
    font-size: 1.2rem;
    color: var(--Score-Text);
}
.scoreRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scorePoints{
    color: var(--Dark-Text);
    font-size: 70px;
    margin: 0;
    font-weight: 700;
}
.gameName{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.gameElementsCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
.gameElementsRow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.gridGame{
    background-image: url(../../assets/images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    position: relative;

}
.fightDiv{
    width: 100%;
    height: 80%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.fightDivRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.playerDiv>p{
    color: white;
    font-size: 1.3rem;

}
.playerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 45rem;
    margin-right: 5rem;
}
.computerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 45rem;
    margin-left: 5rem;
}
.computerDiv>p{
    color: white;
    font-size: 1.3rem;

}
.coinHolder{
    background-color: rgba(0, 0, 0, 0.3);
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#gameContainer{
    background-color: white;
    border-radius: 100%;
    width: 7rem;
    height: 7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
#gameContainer:hover{
    transition: 500ms;
    cursor: pointer;
    outline: 1rem solid rgb(0, 255, 60);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 1rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 1rem rgb(0, 255, 60);
    
}

.gameContainerSelected{
    background-color: white;
    border-radius: 100%;
    width: 9rem;
    height: 9rem;
    position: absolute;

    

}
.effectWinDiv{
    background-color: white;
    border-radius: 100%;
    width: 9rem;
    height: 9rem;
    position: relative;
}
.effectWinDiv::before{
    background-color: white;
    border-radius: 100%;
    width: 11rem;
    height: 11rem;
    position: relative;
}
.effectWinDiv::after{
    background-color: white;
    border-radius: 100%;
    width: 13rem;
    height: 13rem;
    position: relative;
}
.resultGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.resultGame>p{
    font-size: 4rem;
    margin-bottom: 0.4rem;
    color: white;
}
.playAgainBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 2.5rem;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.playAgainBtn>p{
    color: var(--Dark-Text);
}
.playAgainBtn:hover{
    cursor: pointer;
}
@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  100% {
    transform: scale(3.2);
    opacity: 0.1;
  }
}
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(237, 243, 237, 0.1), 0 0 0 40px rgba(237, 243, 237,  0.1), 0 0 0 70px rgba(237, 243, 237,  0.1), 0 0 0 100px rgba(237, 243, 237,  0.1);
    }
    100% {
      box-shadow: 0 0 0 40px rgba(237, 243, 237,  0.1), 0 0 0 70px rgba(237, 243, 237,  0.1), 0 0 0 100px rgba(237, 243, 237,  0.1), 0 0 0 120px rgba(237, 243, 237,  0);
    }
  }
#scissorsSelected{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    outline: 1rem solid var(--Scissors-Gradient2);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 1rem rgba(0, 0, 0, 0.331),
    0rem 0.4rem 0rem 1rem var(--Scissors-Gradient);
}

#paperSelected{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    display: none;
    outline: 1rem solid var(--Paper-Gradient2);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 1rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 1rem var(--Paper-Gradient);
}

#rockSelected{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    display: none;
    outline: 1rem solid var(--Rock-Gradient);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 1rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 1rem var(--Rock-Gradient);
}
#scissorsSelectedPc{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    outline: 1rem solid var(--Scissors-Gradient2);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 1rem rgba(0, 0, 0, 0.331),
    0rem 0.4rem 0rem 1rem var(--Scissors-Gradient);
}

#paperSelectedPc{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    display: none;
    outline: 1rem solid var(--Paper-Gradient2);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 1rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 1rem var(--Paper-Gradient);
}

#rockSelectedPc{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    display: none;
    outline: 1rem solid var(--Rock-Gradient);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 1rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 1rem var(--Rock-Gradient);
}


.scissors{
    transition: 500ms;
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    outline: 1rem solid var(--Scissors-Gradient2);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 1rem rgba(0, 0, 0, 0.331),
    0rem 0.4rem 0rem 1rem var(--Scissors-Gradient);
}

.paper{
    transition: 500ms;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    outline: 1rem solid var(--Paper-Gradient2);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 1rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 1rem var(--Paper-Gradient);
}

.rock{
    transition: 500ms;
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    outline: 1rem solid var(--Rock-Gradient);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 1rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 1rem var(--Rock-Gradient);
}
.rulesText{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
.containerRulesText{
    outline: 0.15rem solid var(--Header-Outline);
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
    width: 7rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}
.containerRulesText:hover{
    transition: 500ms;
    cursor: pointer;
    box-shadow: 0 0 2rem 1rem rgba(255, 255, 255, 0.455)  ;
}
.containerRulesText>p{
    color: white;
}
.rulesPanelCol{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1366px;
    height: 768px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.486);
}
.rulesPanelRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.rulesPanel{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 30%;
    height: 55%;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}  
.rulesAndClose{
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}  

@media screen and (max-width:1200px){
    .rulesText{
        justify-content: start;
        align-items: start;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .menu{
        justify-content: end;
        align-items: end;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width:500px) {
    .gridGame{
        background-size: 60%;
        width: 20rem;
        height: 17rem;
    }
    #gameContainer{
        width: 6rem;
        height: 6rem;
    }
    .scoreTableContainer{
        width: 20rem;
        height: 8rem;
    }
    .gameName>img{
        width: 70%;
        
    }
    .score{
        width: 12rem;
        height: 6rem;
    }
    .scoreRow>p{
        font-size: 1rem;
    }
    .scorePoints{
        font-size: 50px;
    }
    .rulesText{
        justify-content: start;
        align-items: start;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .menu{
        justify-content: end;
        align-items: end;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .resultGame{
        justify-content: end;
    }
    .playerDiv{
        width: 10rem;
        margin-right: 0;
    }
    .computerDiv{
        width: 10rem;
        margin-left: 0;
    }
    .gameContainerSelected{
        width: 6rem;
        height: 6rem;
    }
    .effectWinDiv{
        width: 6rem;
        height: 6rem;
    }
    .effectWinDiv::before{
        width: 8rem;
        height: 8rem;
    }
    .effectWinDiv::after{
        width: 9rem;
        height: 9rem;
    }
    .coinHolder{
        width: 6rem;
        height: 6rem;
    }
    .gameContainer{
        width: 100vw;
        height: 100vh;
    }
    .center{
        width: 100vw;
    }
    .gameElementsCol{
        width: 100%;
    }

}
