.gameContainer{
    background-color: black;
    width: 1366px;
    height: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.gameBg{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, var(--Radial-Gradient) 0%, var(--Radial-Gradient2) 100%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.scoreTableContainer{
    width: 50rem;
    height: 10rem;
    outline: 0.15rem solid var(--Header-Outline);
    margin-top: 4rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    

}
.scoreTable{
    width: calc(100% - 4rem);
    height:  calc(100% - 4rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    
}
.score{
    width: 15rem;
    height: 8rem;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.scoreRow>p{
    margin: 0;
    letter-spacing: 3px;
    font-size: 1.2rem;
    color: var(--Score-Text);
}
.scoreRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scorePoints{
    color: var(--Dark-Text);
    font-size: 70px;
    margin: 0;
    font-weight: 700;
}
.gameName{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.gameElementsCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
.gameElementsRowBonus{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.gridGameBonus{
    background-image: url(../../assets/images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 65%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
    position: relative;

}


#gameContainerBonus{
    transition: 500ms;
    background-color: white;
    border-radius: 100%;
    width: 5.5rem;
    height: 5.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.scissorsBonus{
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    outline: 0.7rem solid var(--Scissors-Gradient2);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 0.7rem rgba(0, 0, 0, 0.331),
    0rem 0.4rem 0rem 0.7rem var(--Scissors-Gradient);
}
#gameContainerBonus:hover{
    transition: 500ms;
    cursor: pointer;
    outline: 0.7rem solid rgb(0, 255, 60);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 0.7rem rgba(0, 0, 0, 0.331),
    0rem 0.4rem 0rem 0.7rem rgb(0, 255, 60);
    
    
}

.paperBonus{
    grid-column: 5 / 5;
    grid-row: 2 / 3;
    outline: 0.7rem solid var(--Paper-Gradient2);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 0.7rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 0.7rem var(--Paper-Gradient);
    transition: 500ms;
}

.rockBonus{
    grid-column: 4 / 5;
    grid-row: 4 / 4;
    outline: 0.7rem solid var(--Rock-Gradient);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 0.7rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 0.7rem var(--Rock-Gradient);
    transition: 500ms;
}
.spock{
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    outline: 0.7rem solid var(--Cyan);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 0.7rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 0.7rem var(--Cyan);
    transition: 500ms;
}
.lizard{
    grid-column: 2 / 3;
    grid-row: 4 / 4;
    outline: 0.7rem solid var(--Lizard-Gradient);
    box-shadow: inset 0 0.4rem 0 0 rgba(0, 0, 0, 0.356),0rem 0.4rem 0rem 0.7rem rgba(0, 0, 0, 0.331), 
    0rem 0.4rem 0rem 0.7rem var(--Lizard-Gradient);
    transition: 500ms;
}
.rulesText{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
.containerRulesText{
    outline: 0.15rem solid var(--Header-Outline);
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
    width: 7rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerRulesText>p{
    color: white;
}
.rulesPanelCol{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1366px;
    height: 768px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.486);
}
.rulesPanelRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.rulesPanel{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 30%;
    height: 55%;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}  
.rulesAndClose{
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}  

.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.containerMenuText{
    outline: 0.15rem solid var(--Header-Outline);
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    width: 7rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerMenuText>p{
    color: white;
}
.inGameBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.containerMenuText:hover{
    transition: 500ms;
    cursor: pointer;
    box-shadow: 0 0 2rem 1rem rgba(255, 255, 255, 0.455)  ;
}
