.attribution>p{
    font-size: 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
}
.attribution>p>a{
    font-size: 1rem;
    text-align: center;
    color: hsl(150, 100%, 66%);
    text-decoration: none;
}
.center{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.419);
    width: 1366px;;
    
    
}
.attribution{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:400px) {

    .center{
        width: 100vw;
    }

}