.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');

body, html {
    font-family: 'Barlow Semi Condensed';

}

.game{
  display: none;
}
.gameBonus{
  display: none;
}