body {
  margin: 0;

}

:root{

  --Scissors-Gradient: hsl(39, 89%, 49%);
  --Scissors-Gradient2: hsl(40, 84%, 53%);

  --Paper-Gradient: hsl(230, 89%, 62%); 
  --Paper-Gradient2:hsl(230, 89%, 65%);

  --Rock-Gradient: hsl(349, 71%, 52%);
  --Rock-Gradient2: hsl(349, 70%, 56%);

  --Lizard-Gradient: hsl(261, 73%, 60%);
  --Lizard-Gradient2: hsl(261, 72%, 63%);

  --Cyan: hsl(189, 59%, 53%);
  --Cyan2: hsl(189, 58%, 57%);

  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  --Radial-Gradient: hsl(214, 47%, 23%);
  --Radial-Gradient2: hsl(237, 49%, 15%);

}
